#create_new_account_index {
	width: 100%;
	height: 900px;
	background-image: url("../img/test_image.jpg");
}

#index_title_container {
	height: 38%;
	width: 1000px;
	margin: 0px auto;
}

#index_desc {
	float: left;
	width: 45%;
	padding-left: 5%;
}

#register_form {
	float: left;
	width: 45%;
	padding-left: 5%;
	margin-top: 50px;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

h1, h2, h3, h4 {
	color: #343434;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
}

p {
	padding: 10px 0 0 10px;
}

.error_message_register {
	background-color: #d1f6ff;
	padding: 4px 0px;
	width: 310px;
	height: 23px;
	margin-top: 10px;
	text-align: center;
	border: 1px solid #99d7e7;
	border-radius: 4px;
}

.formfield {
	height: 30px;
	padding: 0;
	margin-top: 10px;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	width: 300px;
	padding-left: 10px;
	color: #000000;
}