<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<title></title>
</head>
<body>
	<div id="header_wrapper" th:fragment="header">
		<div id="header">
			<a th:href="@{/}"><img id="header_logo" th:src="@{/img/logo.png}" alt="logo" /></a>
			
			
			<div id="search_user_seperator">
			<form id="search" action="#" th:action="@{/processSearchRequest(searchType=default)}" method="post" name="search">
				<input id="search_input" class="text_input" type="text" value="Search JRMDS" name="searchTerm" th:value="${searchTerm}" />
				<script th:src="@{/js/searchbarAutocomplete.js}"></script>
				<input type="submit" class="searchButton" disabled="disabled" value=""/>
			</form>
			</div>
			<div id="welcome_user" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
				<a th:href="@{projects}"><img th:src="@{/img/projects.png}" alt="Projekte" class="symbol_small" />Projects</a>
				
				<!-- switch sign in and sign out button -->
				<div style="float: right" th:if="${currentUser != null}">
					<form th:action="@{/logout}" method="post" >
						<input class="signoutButton" type="submit" value="Sign out" />
					</form>
				</div>
				<div style="float: right" th:unless="${currentUser != null}">	
					<a class="signinButton" th:href="@{login}">Sign in</a>
				</div>
				
				<a th:href="@{/}" class="createButton">Create new Account</a>
			</div>

			<div style="clear: both;"></div>

		</div>
		<script th:src="@{/js/validateSearch.js}"></script>
	</div>

	<div id="header_wrapper" th:fragment="searchHeader">
		<div id="header">
			<a th:href="@{/}"><img id="header_logo" th:src="@{/img/logo.png}" alt="logo" /></a>
			<div id="search_user_seperator">
			</div>
			<div id="welcome_user">
				<a th:href="@{projects}"><img th:src="@{/img/projects.png}" alt="Projekte" class="symbol_small" />Projects</a> <a th:href="@{login}"
					class="signinButton">Sign in</a> <a th:href="@{register}" class="createButton">Create new Account</a>
			</div>

			<div style="clear: both;"></div>
		</div>
	</div>



</body>
</html>