<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<title></title>
</head>
<body>
	<div id="header_wrapper" th:fragment="header">
		<div id="header">
			<a th:href="@{/}"><img id="header_logo" th:src="@{/img/logo.png}" alt="logo" /></a>

			<form id="search" action="#" th:action="@{search}" th:object="${searchRequest}" method="post" name="search">
				<input id="search_input" class="text_input" type="text" value="Suchen auf JRMDS" name="search_input" />
				<script th:src="@{/js/searchbarFunctions.js}"></script>
				<button type="submit" id="search_button"></button>
				<a href="#" id="advanced_search">Advanced Search</a>
				<!--  <select name="searchoption">
					<option>all</option>
					<option>Groups</option>
					<option>Constraints</option>
					<option>Concepts</option>
					<option>Templates</option>
				</select> !-->
			</form>

			<div id="welcome_user">
				<a th:href="@{projects}"><img th:src="@{/img/projects.png}" alt="Projekte" class="symbol_small" />Projects</a> <a th:href="@{login}" class="signinButton">Sign in</a> <a th:href="@{register}" class="createButton">Create new Account</a>
			</div>

			<div style="clear: both;"></div>

		</div>
	</div>
</body>
</html>