#advancedSearch {
	margin:8px 0 0 10px;
}
#search_input {
	margin-top:20px;
	margin-bottom:0;
	width:60% !important;
}
#searchBar {
	width:100%;
	margin-left:20%;
	margin-bottom:0;
}
.tab-content {
	margin-top:5px;
}
#advancedSearch_checkboxes {
	display:table;
	width: 81%;
    table-layout: fixed; 
    margin:10px 0 0 0;

}
#advancedSearch_checkboxes input[type="checkbox"] {
	display:table-cell;
}
label {
	padding:0 30px 0 5px;
}