.single_form {
        position:relative;
        margin: auto;
        margin-top: 10px;
        width: 400px;
        height: 70px;
}

.password_single_form {
        position:relative;
        margin: auto;
        margin-top: 10px;
        width: 400px;
        height: 70px;
}

.edit_label {
		width:100px;
		height: 30px;
		margin-top: 26px;
        float: left;
        padding: 10;
        text-decoration: none;
		color: black;
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
		font-size: 14px;
		font-weight: 600;
}

.user_properties {
		width:200px;
		height: 30px;
		margin-top: 26px;
        float: left;
        padding: 10;
        text-decoration: none;
        text-align: center;
		color: black;
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
		font-size: 14px;
		font-weight: 500;	
}

.edit_animation_field {
        position:relative;
        margin: auto;
        margin-top: 10px;
        float: left;
        width: 0px;
        height: 50px;
        overflow: hidden;
        opacity: 0;
}

.password_edit_animation_field {
        position:relative;
        margin: auto;
        margin-top: 10px;
        float: left;
        width: 0px;
        height: 0px;
        overflow: hidden;
        opacity: 0;
}

.textfield {
        width: 96%;
        height: 60%;
        padding: 0;
        margin-top: 10px;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        padding-left: 10px;
        color: #000000;
}

.password_textfield {
        width: 96%;
        height: 23%;
        padding: 0;
        margin-top: 10px;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        padding-left: 10px;
        color: #000000;      
}

.edit_button {
        min-width: 70px;
        height: 30px;
        background: url(../img/options_button_bg.png);
        position: relative;
        margin-left: 10px;
        margin-top: 21px;
        font-family: Open Sans;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        color: black;
        float: right;
        border-radius: 3px;
        transition: background-color 0.2s;
        transition: box-shadow 0.2s;
        border: 1px solid #d6d6d6;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);
        font-weight: 500;
        cursor: pointer;
}

.error_message_edit {
	background-color: #d1f6ff;
	padding: 4px 0px;
	width: 400px;
	height: 23px;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	border: 1px solid #99d7e7;
	border-radius: 4px;
}