<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
					<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}"> <img th:src="@{/img/projects.png}" alt="Project"
						class="symbol_small" /> <span th:text="${project.getName()}" class="project_title">Projectname</span>
					</a> \ <img class="symbol_small" th:src="@{img/template.png}" alt="Template" /><span th:text="${template}">TEMPLATE NAME</span>
				</div>
					<div class="actual_content">
					<div class="editSection">
				<br />
					<form th:action="@{/deleteTemplate(project=${project.getName()})}" method="post">
						<input type="hidden" name="tRefID" th:value="${template}" />
						Are you really sure about that?
						<br/><input type="Submit" class="deleteButton" value="Delete now!"/>
					</form>
					</div>
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>



</body>

</html>