<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}"> <img th:src="@{/img/projects.png}" alt="Project"
						class="symbol_small" /> <span th:text="${project.getName()}" class="project_title">Projectname</span>
					</a> \ <img class="symbol_small" th:src="@{img/template.png}" alt="Group" /><span th:text="${template.getRefID()}">TEMPLATE NAME</span>
				</div>
				<div class="actual_content">
				
<!-- COMPONENT -->
		<div class="editSection">
						<p class="bold_attribute">Reference ID:</p>
						<span th:text="${template.getRefID()}">TemplateID</span>
						<hr/>
						<p class="bold_attribute">Description:</p>
						<span th:text="${template.getDescription()}">TemplateDescription</span>
						<hr/>
						<p class="bold_attribute">Cypher:</p>
						<span th:text="${template.getCypher()}">TemplateCypher</span>
						<hr/>
						<p class="bold_attribute">Tags</p>
						<p class="description">A list of all tags, applicable to this rule.</p>
							<input type="text" class="text_input" name="tTaglist" id="tTaglist" th:value="${taglist}" />

							<script type="text/javascript" th:src="@{/js/jquery.tagsinput.js}"></script>

							<script>
								$('#tTaglist').tagsInput({
									'defaultText' : ''
								});
							</script></div>
						<hr/>
			
										
<!-- PAREMETERS FOR TEMPLATE -->
					<div class="editSection">
						<h3>Parameters</h3>
							<div class="error_message" th:if="${parameters.size()==0}">There appear to be no parameters.</div>
							<div th:unless="${parameters.size()==0}">
							<span th:each="reference : ${parameters}"> 
								
								<span th:value="${reference.getName()}">Parameter Name</span>
								<span th:value="${reference.getValue()}">Parameter Value</span>
								<input th:if="${reference.isString()=='true'}" type="checkbox" th:name="isString" th:value="${reference.getId()}"
								 th:checked="checked" /> 
								<input th:if="${reference.isString()=='false'}" type="checkbox" th:name="isString" th:value="${reference.getId()}"
									 /> 
							</span>
							</div>
							</div>
						<hr/>
<!-- UPSTREAM REFERENCES OUTPUT -->				

						<div class="editSection">
							<h3>Other components referring to <span th:text="${template.getRefID()}"></span></h3>
							<span class="error_message" th:if="${upstream.size()==0}">This component is not referenced.</span>
							
							<ul class="result_table" th:each="reference : ${upstream}">
								<li class="result_item"><span th:switch="${reference.getType()}"> <img th:case="${T(jrmds.model.ComponentType).GROUP}"
										class="symbol_small" th:src="@{img/group.png}" alt="Group" /> <img th:case="${T(jrmds.model.ComponentType).CONCEPT}"
										class="symbol_small" th:src="@{img/concept.png}" alt="Concept" /> <img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}"
										class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint" /> <!--  <img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/> -->
								</span> <span th:switch="${reference.getType()}" class="item_name"> <a th:case="${T(jrmds.model.ComponentType).GROUP}"
										th:href="@{/editGroup(project=${project.getName()},group=${reference.getRefID()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
										<a th:case="${T(jrmds.model.ComponentType).CONCEPT}"
										th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}"
										th:text="${reference.getRefID()}">REFERENCE-ID</a> <a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}"
										th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}"
										th:text="${reference.getRefID()}">REFERENCE-ID</a>
								</span> <span th:unless="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption"
									th:text="${reference.getDescription()}">Description</span> <span
									th:if="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption">Group</span> <span> </span></li>
							</ul>
						</div>
							<hr />
						<div class="editSection"><a th:href="@{/projectOverview(project=${project.getName()})}" class="cancelButton">cancel</a></div>
					</div>
				</div>

			</div>

		

		<div id="footer"></div>
	</div>



</body>

</html>