<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS-confirm deletion</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
			<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}"> <img th:src="@{/img/projects.png}" alt="Project"
						class="symbol_small" /> <span th:text="${project.getName()}" class="project_title">Projectname</span></a></div>
					
					

				<div class="actual_content">
					<div class="editSection">
					<br />
					
					<p th:text="${message}">MESSAGE</p>
					<div th:if="${bothSets.size()>0}">
						<p>Following Component IDs are identical to IDs of the existing External Repository: </p>
						<ul class="result_table" th:each="exRepo : ${bothSets}">
							<li class="result_item">
								
								<span th:switch="${exRepo.getType()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
									<!--  <img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/> -->
								</span>
								
								<span th:switch="${exRepo.getType()}" class="item_name">
									<a th:case="${T(jrmds.model.ComponentType).GROUP}" th:href="@{/editGroup(project=${project.getName()},group=${exRepo.getRefID()})}" th:text="${exRepo.getRefID()}">REFERENCE-ID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONCEPT}" th:href="@{/editRule(project=${project.getName()},rule=${exRepo.getRefID()})}" th:text="${exRepo.getRefID()}">REFERENCE-ID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" th:href="@{/editRule(project=${project.getName()},rule=${exRepo.getRefID()})}" th:text="${exRepo.getRefID()}">REFERENCE-ID</a>
									<!-- <a th:case="${T(jrmds.model.ComponentType).TEMPLATE}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a> -->
								</span> 
								<span th:unless="${exRepo.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption" th:text="${exRepo.getDescription()}">Description</span>
								<span th:if="${exRepo.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption">Group</span>
								<span> </span>
							</li>
						</ul>
						<p>When exporting the Components to an XML File, the internal Components will be overwritten by the external Ones with same ID.</p>
					</div>
					<div th:if="${bothSets.size()==0}">
						<p>The chosen external Repository has no identical IDs with the internal Repository.</p>
					</div>
					<br />
					<p th:unless="${linkRef.length()==0}"><a th:href="${linkRef}">back to the properties.</a></p>
					<p><a th:href="${linkPro}">Go to project overview.</a></p>
				</div>
			</div>
			</div>

		</div>

		<div id="footer"></div>
	</div>



</body>

</html>