<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading" th:text="${project.getName()}">Projekt</div>
					<div class="actual_content">
				
						<p><strong>Problems:</strong></p>
						<p><span>The following number groups, concepts, constraints and templates will be gone after deletion!:</span></p>
						<ul class="result_table">
							<li class="result_item">
							Groups: <span th:text="${groupscount}">GROUPS COUNT</span>
							</li>
							<li class="result_item">
							Concepts: <span th:text="${conceptscount}">CONCEPTS COUNT</span>
							</li>
							<li class="result_item">
							Constraints: <span th:text="${constraintscount}">CONSTRAINTS COUNT</span>
							</li>
							<li class="result_item">
							Templates: <span th:text="${templatescount}">TEMPLATES COUNT</span>
							</li>
						
							
						</ul>
					
					<br />
					<form th:action="@{/deleteProject(project=${project.getName()})}" method="post">
						Are you really sure about that?
						<br/><input type="Submit" class="deleteButton" value="Delete now!"/>
					</form>
					
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>



</body>

</html>