<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading" th:text="${project.getName()}">Projectname</div>
					<div class="actual_content">
						<div th:unless="${itemList.size()>0 || refErrList.size()>0}">
							<p>The XML File was successfully imported.</p>
						</div>
						<div th:if="${itemList.size()>0 || refErrList.size()>0}">
							<p><strong>Problems:</strong></p>
							<p><span>The following conflicts appeared! Choose how to proceed:</span></p>
							<ul class="result_table" th:each="item : ${itemList}">
								<li class="result_item">
								<input type="checkbox" th:name="isCecked" th:value="${item.getComponent().getRefID()}"/>
					
								<span th:switch="${item.getComponent().getType()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
									<img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/>
								</span>
								
								<span th:switch="${item.getComponent().getType()}" class="item_name">
									<a th:case="${T(jrmds.model.ComponentType).GROUP}"  th:text="${item.getComponent().getRefID()}">RefID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONCEPT}" th:text="${item.getComponent().getRefID()}">RefID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" th:text="${item.getComponent().getRefID()}">RefID</a>
									<a th:case="${T(jrmds.model.ComponentType).TEMPLATE}" th:text="${item.getComponent().getRefID()}">RefID</a>
								</span> 
								
								<span>Conflict with:</span>
								<span th:switch="${item.getInConflictWith()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
									<img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/>
								</span> 
								
								<span>Cause:</span>
								<span th:text="${item.getCause()}">cause</span>
								
								<span>Additional Info:</span>
								<span th:text="${item.getAdditionalInfo()}">addInfo</span>
								</li>	
							</ul>
							<ul class="result_table" th:each="refErr : ${refErrList}">
								<li class="result_item">
								<input type="checkbox" th:name="isString" />
								
								<span>Component:</span>
								<span th:text="${refErr.getItemId()}">ID</span>
								
								<span>Referenced Component:</span>
								<Span th:tect="${refErr.getReferencedId()}">refID</Span>
								
								<span>Type:</span>
								<span th:switch="${refErr.getReferencedType()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
									<img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/>
								</span>
								
								<span>Expected Type:</span>
								<span th:switch="${refErr.getExpectedType()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
									<img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/>
								</span>
								</li>	
							</ul>
						</div>
					<br />
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>



</body>

</html>