<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading" th:text="${project.getName()}">Projectname</div>
					<div class="actual_content">
					<div class="editSection">
				
						<div th:unless="${importList.size()>0 || refErrList.size()>0}">
							<p>The XML File was successfully imported.</p>
						</div>
						<div th:if="${importList.size()>0 || refErrList.size()>0}">
							<p><strong>Problems:</strong></p>
							<p><span>The following conflicts appeared! Choose how to proceed:</span></p>
							<form th:action="@{/saveImportXmlFile(project=${project.getName()})}" method="post">
						
							<ul class="result_table" th:each="import : ${importList}">
								<li class="result_item">
								<input type="checkbox" th:name="isChecked" th:value="'item' + ${import.getComponent().hashCode()}"/>
								<span class="bold_attribute">Component-RefID:</span>
								<span th:text="${import.getComponent().getRefID()}">RefID</span>
								<span class="bold_attribute">with Type:</span>
								<span th:switch="${import.getComponent().getType()}">
									<span th:case="${T(jrmds.model.ComponentType).GROUP}">
										<img  class="symbol_small" th:src="@{img/group.png}" alt="Group"/> GROUP</span>
									<span th:case="${T(jrmds.model.ComponentType).CONCEPT}">
										<img class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/> CONCEPT</span>
									<span th:case="${T(jrmds.model.ComponentType).CONSTRAINT}">
										<img class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/> CONSTRAINT
									</span>
									<span th:case="${T(jrmds.model.ComponentType).TEMPLATE}">
										<img class="symbol_small" th:src="@{img/template.png}" alt="Template"/> TEMPLATE
									</span>
								</span>
								<br/>
								<span>is in conflict with Type:</span>
								<span th:switch="${import.getComponent().getType()}">
									<span th:case="${T(jrmds.model.ComponentType).GROUP}">
										<img  class="symbol_small" th:src="@{img/group.png}" alt="Group"/> GROUP</span>
									<span th:case="${T(jrmds.model.ComponentType).CONCEPT}">
										<img class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/> CONCEPT</span>
									<span th:case="${T(jrmds.model.ComponentType).CONSTRAINT}">
										<img class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/> CONSTRAINT
									</span>
									<span th:case="${T(jrmds.model.ComponentType).TEMPLATE}">
										<img class="symbol_small" th:src="@{img/template.png}" alt="Template"/> TEMPLATE
									</span>
								</span>
	
								<span>Additional Info:</span>
								<span th:text="${import.getAdditionalInfo()}">addInfo</span>
			<!-- Error Messages -->
								<span th:switch="${import.getCause()}">
									<span th:case="${T(jrmds.model.EnumConflictCause).ExistsInDb}" class="error_message">Component Type with that RefID already in Db!</span>
									<span th:case="${T(jrmds.model.EnumConflictCause).ExistsInExternalRep}" class="error_message">Component Type with that RefID already in ExtRepo!</span>
								</span>
								
							
								</li>	
							</ul>
							
							<ul class="result_table" th:each="refErr : ${refErrList}">
								<li class="result_item">
								<input type="checkbox" th:name="isChecked" th:value="'ref' + ${import.getComponent().hashCode()}"/>
													
								<span class="bold_attribute">Component-RefID:</span><span th:text="${refErr.getItemId()}">ID</span>

								<span class="bold_attribute">Referenced Component:</span><Span th:text="${refErr.getReferenceId()}">refID</Span>
								<br/>
									<div th:if="${refErr.getReferencedType()!=null}">
										<span class="bold_attribute">Referenced Component Type: </span>
												<span th:switch="${import.getComponent().getType()}">
													<span th:case="${T(jrmds.model.ComponentType).GROUP}">
														<img  class="symbol_small" th:src="@{img/group.png}" alt="Group"/> GROUP</span>
													<span th:case="${T(jrmds.model.ComponentType).CONCEPT}">
														<img class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/> CONCEPT</span>
													<span th:case="${T(jrmds.model.ComponentType).CONSTRAINT}">
														<img class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/> CONSTRAINT
													</span>
													<span th:case="${T(jrmds.model.ComponentType).TEMPLATE}">
														<img class="symbol_small" th:src="@{img/template.png}" alt="Template"/> TEMPLATE
													</span>
												</span>
									</div>
								
									<span class="bold_attribute">Expected Type:</span>
										<span th:switch="${import.getComponent().getType()}">
											<span th:case="${T(jrmds.model.ComponentType).GROUP}">
												<img  class="symbol_small" th:src="@{img/group.png}" alt="Group"/> GROUP</span>
											<span th:case="${T(jrmds.model.ComponentType).CONCEPT}">
												<img class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/> CONCEPT</span>
											<span th:case="${T(jrmds.model.ComponentType).CONSTRAINT}">
												<img class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/> CONSTRAINT
											</span>
											<span th:case="${T(jrmds.model.ComponentType).TEMPLATE}">
												<img class="symbol_small" th:src="@{img/template.png}" alt="Template"/> TEMPLATE
											</span>
										</span>
<!-- Ref Error Message -->
								<div th:if="${refErr.getReferencedType()==null}"><span  class="error_message">Reference Component is missing!</span></div>
								<div th:unless="${refErr.getReferencedType()==null}">
									<div th:if="${refErr.getReferencedType()!=refErr.getExpectedType()">
										<span class="error_message">Reference Component has wrong type!</span>
									</div>
								</div>
								
								
								</li>	
							</ul>
							</br>
							<input type="submit" value="Save changes" class="createButton"/>
							</form>
						</div>
					<br />
				</div>
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>



</body>

</html>