<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading" th:text="${template.getRefID()}">TEMPLATE TITLE</div>

				<div class="actual_content">
				
<!-- UPDATE/CREATE COMPONENT -->
					<form id="editTemplate" name="editTemplate" th:action="@{/saveTemplate(project=${project.getName()})}" method="post">
						<p class="bold_attribute">Reference ID:</p>
						<input type="hidden" name="tOldID" th:value="${template.getRefID()}" />
						<input type="text" class="text_input" name="tRefID" th:value="${template.getRefID()}" />
						<hr/>
						<p class="bold_attribute">Description:</p>
						<input type="hidden" name="tOldDescr" th:value="${template.getDescription()}" />
						<input type="text" class="text_input" name="tDescr" th:value="${template.getDescription()}" />
						<hr/>
							<p class="bold_attribute">Cypher:</p>
						<input type="hidden" name="tOldCyph" th:value="${template.getCypher()}" />
						<input type="text" class="text_input" name="tCyph" th:value="${template.getCypher()}" />
						<hr/>
						<p><input type="submit" value="Save changes" class="createButton" /><span class="description"> or </span>
						<a th:href="@{/}" class="cancelButton">Cancel</a></p>
					</form>
					<hr/><hr/>	
					
					
<!-- ADD/UPDATE/DELETE PAREMETERS FOR TEMPLATE -->
				<div th:unless="${template.getRefID()==''}">
						<form th:action="@{/tudpateParameters(project=${project.getName()})}" method="post">
							
							<div th:if="${parameters.size() == 0}">No parameters here.</div>
							<div th:unless="${parameters.size() == 0}">
							<ul class="result_table" th:each="reference : ${parameters}">
								<li class="result_item">
									
									<span class="item_name">
										<input type="text" th:name="toUpdateName" th:value="${reference.getName()}" />
									</span> 
									<span class="item_desciption">
										<input type="text" th:name="toUpdateValue" th:value="${reference.getValue()}" />
									</span>
									<span th:if="${reference.isString()=='true'}">
										<input type="checkbox" th:name="isString" th:value="${reference.getName()}" checked="checked" /> Value is a String. Unchecked mean, value is Integer.
									</span>
									<span th:if="${reference.isString()=='false'}">
										<input type="checkbox" th:name="isString" th:value="${reference.getName()}" /> Value is a String. Unchecked mean, value is Integer.
									</span>
								</li>
							</ul>
							</div>
							<!-- additional input box for a new parameter!!! -->
							
							<input type="hidden" name="tRefID" th:value="${template.getRefID()}" />
							<input type="hidden" name="tType" th:value="${template.getType()}" />
							<input type="submit" name="save" value="update Parameters" />
						</form>
						<hr/><hr/>	
						
<!-- DELETE TEMPLATE -->
						<p>
						<form id="EditTemplate" th:action="@{/confirmationDeleteTemplate(project=${project.getName()})}" th:object="${project}" method="post">
						<input type="hidden" name="tRefID" th:value="${template.getRefID()}" />
						<input type="submit" value="Delete whole Template" class="createButton" /> or 
						<a th:href="@{/}" class="cancelButton">cancel</a>
						</form></p>
					</div>
				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>



</body>

</html>