<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS - Group</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
					<div class="project_title_container">
						<a th:href="@{/projectOverview(project=${project.getName()})}"> <img th:src="@{/img/projects.png}" alt="Project"
							class="symbol_small" /> <span th:text="${project.getName()}" class="project_title" id="project_title">Projectname</span>
						</a> \ <img class="symbol_small" th:src="@{img/group.png}" alt="Group" /><span th:text="${group.getRefID()}" class="rule_title">GROUP
							NAME</span>
					</div>
					<div class="project_editor">
						<span id="copied_message" style="" class="error_message">Copied link to clipboard.</span>
						<script type="text/javascript" th:src="@{/js/jquery.zclip.js}"></script>

						<a href="#" id="copy_to_clipboard" class="optionButton">Copy link</a>
						<script>
				var current_location='http://localhost:8080';
					$('#copied_message').hide();
					$('#copy_to_clipboard').zclip({
						path:'js/ZeroClipboard.swf',
						copy: current_location + '/xml/' + $('#project_title').text() + '/' +  $('.rule_title').text(),
						afterCopy:function() {
							$('#copied_message').fadeToggle(1000,function() {$('#copied_message').fadeToggle(1000);});
						}
						
						});
					</script>

					</div>

				</div>

				<div class="actual_content">


					<!-- UPDATE/CREATE COMPONENT -->
					<form id="editGroup" name="editGroup" th:action="@{/saveGroup(project=${project.getName()})}" method="post">


						<h3 th:if="${createGroup == true}">
							Set up a new Group to "<span th:text="${project.getName()}"></span>"
						</h3>
						<h3 th:if="${createGroup == false}">
							<img class="symbol_small" th:src="@{img/group.png}" alt="Group" />"<span th:text="${group.getRefID()}"></span>" <span
								class="description">inside</span> "<span th:text="${project.getName()}"></span>"
						</h3>
						<span class="error_message" id="componentNameError">This group name is already taken. Please choose another one.</span>
						<p class="bold_attribute">Reference ID</p>
						<input type="hidden" name="gOldID" th:value="${group.getRefID()}" />
						<p class="description" th:if="${createGroup == true}">Name your group.</p>
						<input type="text" class="text_input" name="gRefID" id="componentName" th:value="${group.getRefID()}" />
						<p class="bold_attribute">Tags</p>
						<p class="description">A list of tags applicable to this group. Use comma as delimiter or press ENTER.</p>
						<input type="text" class="text_input" name="gTaglist" id="gTagList" th:value="${taglist}" />



						<script type="text/javascript" th:src="@{/js/jquery.tagsinput.js}"></script>

						<script>
							$('#gTagList').tagsInput({'defaultText':''});
							
						</script>
						<p>
							<input type="submit" value="Save changes" class="createButton" id="updateComponentButton" /> <span class="description">or</span> <a
								th:href="@{/projectOverview(project=${project.getName()})}" class="cancelButton">cancel</a>
						</p>
						<input type="hidden" id="componentType" th:value="GROUP" />
						<script type="text/javascript" th:src="@{/js/validateComponentEdit.js}"></script>
					</form>


					<hr />

					<!-- UPDATE PROJECT EXTERNAL REPOSITORIES -->

					<div class="editSection" th:unless="${group.getRefID()==''}">
						<h3>External Repositories</h3>

						<form id="EditProject" th:action="@{/deleteExternalRepos(project=${project.getName()},RefID=${group.getRefID()},type=GROUP)}"
							method="post">
							<div class="member">
								<div class="error_message" th:if="${group.getExternalRepos() == null}">There appear to be no external Repositories.</div>
								<div th:unless="${group.getExternalRepos() == null}">
									<div class="error_message" th:if="${group.getExternalRepos().size() == 0}">There appear to be no external Repositories.</div>
									<div class="extref" th:unless="${group.getExternalRepos().size() == 0}" th:each="extrepo : ${group.getExternalRepos()}">

										<input type="checkbox" th:name="isString" th:value="${extrepo}" /> <a
											th:href="@{/addExternalRepos(project=${project.getName()},externalRepo=${extrepo},type=GROUP,RefID=${group.getRefID()},add=${false})}"><label
											th:text="${extrepo}">ExtRepo</label></a>
									</div>
								</div>
							</div>
							<br/>
							<input type="submit" value="Delete External Repository" class="deleteButton" />
						</form>
						<br/>

						<form id="EditWindow" th:action="@{/addExternalRepos(project=${project.getName()},type=GROUP,RefID=${group.getRefID()}, add=${true})}"
							method="post">
							<input type="text" name="externalRepo" class="text_input" />
							<br/><input type="submit" value="Add External Repository" class="createButton" />
						</form>
					</div>
					<hr />


					<!-- DOWNSTREAM REFERENCES FROM THIS COMPONENT -->
					<div th:unless="${group.getRefID()==''}">
						<div class="editSection">
							<h3>References</h3>
							<span class="error_message" th:if="${downstram.size()==0}">There appear to be no references.</span>
							<div th:unless="${downstram.size()==0}">
								<form th:action="@{/udpateSeverity(project=${project.getName()})}" method="post">
									<ul class="result_table" th:each="reference : ${downstram}">
										<li class="result_item"><span th:switch="${reference.getType()}"> <img th:case="${T(jrmds.model.ComponentType).GROUP}"
												class="symbol_small" th:src="@{img/group.png}" alt="Group" /> <img th:case="${T(jrmds.model.ComponentType).CONCEPT}"
												class="symbol_small" th:src="@{img/concept.png}" alt="Concept" /> <img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}"
												class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint" />
										</span> <span th:switch="${reference.getType()}" class="item_name"> <a th:case="${T(jrmds.model.ComponentType).GROUP}"
												th:href="@{/editGroup(project=${project.getName()},group=${reference.getRefID()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
												<a th:case="${T(jrmds.model.ComponentType).CONCEPT}"
												th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}"
												th:text="${reference.getRefID()}">REFERENCE-ID</a> <a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}"
												th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}"
												th:text="${reference.getRefID()}">REFERENCE-ID</a>
										</span> <span th:unless="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption"
											th:text="${reference.getDescription()}">Description</span> <span
											th:if="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption">Group</span> <span
											th:if="${T(jrmds.model.ComponentType).GROUP == reference.getType()}"></span> <span
											th:unless="${T(jrmds.model.ComponentType).GROUP == reference.getType()}"> <span th:text="${reference.getSeverity()}">original
													severity of component</span> <span th:if="${reference.getId()==1}"> <input type="checkbox" th:name="toUpdateOverride"
													th:value="${reference.getRefID()}" checked="checked" /> Override severity with:
											</span> <span th:if="${reference.getId()==0}"> <input type="checkbox" th:name="toUpdateOverride"
													th:value="${reference.getRefID()}" /> Override severity with:
											</span> <select name="toUpdateSev">
													<option th:if="${reference.getOverwriteSeverity() == 'blocker'}" selected="selected">blocker</option>
													<option th:unless="${reference.getOverwriteSeverity() == 'blocker'}">blocker</option>
													<option th:if="${reference.getOverwriteSeverity() == 'critical'}" selected="selected">critical</option>
													<option th:unless="${reference.getOverwriteSeverity() == 'critical'}">critical</option>
													<option th:if="${reference.getOverwriteSeverity() == 'major'}" selected="selected">major</option>
													<option th:unless="${reference.getOverwriteSeverity() == 'major'}">major</option>
													<option th:if="${reference.getOverwriteSeverity() == 'minor'}" selected="selected">minor</option>
													<option th:unless="${reference.getOverwriteSeverity() == 'minor'}">minor</option>
													<option th:if="${reference.getOverwriteSeverity() == 'info'}" selected="selected">info</option>
													<option th:unless="${reference.getOverwriteSeverity() == 'info'}">info</option>
											</select> <input type="hidden" th:name="toUpdateRefID" th:value="${reference.getRefID()}" /> <input type="hidden" th:name="toUpdateType"
												th:value="${reference.getType()}" />
										</span> <span> <a
												th:href="@{/confirmDeleteRef(project=${project.getName()},sourceRefID=${group.getRefID()},sourceType=${group.getType()},RefID=${reference.getRefID()},Type=${reference.getType()})}">DELETE</a>
										</span></li>
									</ul>
									<input type="hidden" name="gRefID" th:value="${group.getRefID()}" /> <input type="submit" name="save" value="update Severity"
										class="createButton" />
								</form>
							</div>
						</div>

						<!-- CREATE NEW REFERENCE FORM -->
						<div class="editSection">
							<form th:action="@{/referenceGroup(project=${project.getName()})}" method="post" id="editGroupReferences">
								<input type="hidden" name="gRefID" th:value="${group.getRefID()}" />
								<p class="bold_attribute">Add a new dependency</p>
								<p class="description">Type the reference-ID, then click one of the suggestions to add the reference.</p>
								<input type="text" class="text_input" name="newRefID" id="addRefInput" autocomplete="off" /> <input type="hidden" name="rType"
									id="rType" value="GROUP" /> <input type="hidden" name="newType" value="GROUP" /> <input type="hidden" name="newSeverity"
									value="info" id="newSeverity" />
							</form>
							<span id="result" class="error_message" style="display: none;"></span>
						</div>



						<!-- UPSTREAM REFERENCES OUTPUT -->

						<div class="editSection">
							<h3>
								Other components referring to <span th:text="${group.getRefID()}"></span>
							</h3>
							<span class="error_message" th:if="${upstream.size()==0}">This component is not referenced.</span>

							<ul class="result_table" th:each="reference : ${upstream}">
								<li class="result_item"><span th:switch="${reference.getType()}"> <img th:case="${T(jrmds.model.ComponentType).GROUP}"
										class="symbol_small" th:src="@{img/group.png}" alt="Group" /> <img th:case="${T(jrmds.model.ComponentType).CONCEPT}"
										class="symbol_small" th:src="@{img/concept.png}" alt="Concept" /> <img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}"
										class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint" /> <!--  <img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/> -->
								</span> <span th:switch="${reference.getType()}" class="item_name"> <a th:case="${T(jrmds.model.ComponentType).GROUP}"
										th:href="@{/editGroup(project=${project.getName()},group=${reference.getRefID()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
										<a th:case="${T(jrmds.model.ComponentType).CONCEPT}"
										th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}"
										th:text="${reference.getRefID()}">REFERENCE-ID</a> <a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}"
										th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}"
										th:text="${reference.getRefID()}">REFERENCE-ID</a>
								</span> <span th:unless="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption"
									th:text="${reference.getDescription()}">Description</span> <span
									th:if="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption">Group</span> <span> </span></li>
							</ul>
						</div>

						<hr />

						<!-- DELETE THIS COMPONENT FORM -->
						<div class="editSection">
							<span class="error_message" th:if="${upstream.size()!=0}">Component is referenced. Deletion impossible until references
								removed.</span>
							<div th:if="${upstream.size()==0}">
								<form th:action="@{/confirmDeleteGroup(project=${project.getName()})}" method="post">
									<h3>
										Delete <span th:text="${group.getRefID()}"></span>
									</h3>
									<input type="hidden" name="gRefID" th:value="${group.getRefID()}" /> <span class="error_message" th:if="${orphaned.size()!=0}">
										<span class="item_count" th:text="${orphaned.size()}"></span> Nodes would remain orphaned after deletion.
									</span>
									<div style="margin-top: 10px;">
										<input type="Submit" value="Delete component" class="deleteButton" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script type="text/javascript" th:src="@{/js/references.js}"></script>
		<div id="footer"></div>
	</div>



</body>

</html>
