<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS - Rule</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}">
						<img th:src="@{/img/projects.png}" alt="Project" class="symbol_small" />
						<span th:text="${project.getName()}" class="project_title">Projectname</span>
					</a> \
					<span th:switch="${rule.getType()}">
						<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
						<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
					</span> 
					<span th:text="${rule.getRefID()}" class="rule_title">RULE TITLE</span>
				</div>

				<div class="actual_content">
				
				
<!-- UPDATE/CREATE COMPONENT -->
					<form id="editRule" name="editRule" th:action="@{/saveRule(project=${project.getName()})}" method="post">
						<p class="bold_attribute">Reference ID:</p>
						<input type="hidden" name="rOldID" th:value="${rule.getRefID()}" />
						<input type="text" class="text_input" name="rRefID" th:value="${rule.getRefID()}" />
						<hr/>
						<p class="bold_attribute">Description:</p>
						<input type="text" class="text_input" name="rDesc" th:value="${rule.getDescription()}" />
						<hr/>
						<p class="bold_attribute">Cypher:</p>
						<input type="text" class="text_input" name="rCypher" th:value="${rule.getCypher()}" />
						<hr/>
						<p class="bold_attribute">Severity:</p>
						<select name="rSeverity">
								<option th:if="${rule.getSeverity() == 'blocker'}" selected="selected">blocker</option><option th:unless="${rule.getSeverity() == 'blocker'}">blocker</option>
								<option th:if="${rule.getSeverity() == 'critical'}" selected="selected">critical</option><option th:unless="${rule.getSeverity() == 'critical'}">critical</option>
								<option th:if="${rule.getSeverity() == 'major'}" selected="selected">major</option><option th:unless="${rule.getSeverity() == 'major'}">major</option>
								<option th:if="${rule.getSeverity() == 'minor'}" selected="selected">minor</option><option th:unless="${rule.getSeverity() == 'minor'}">minor</option>
								<option th:if="${rule.getSeverity() == 'info'}" selected="selected">info</option><option th:unless="${rule.getSeverity() == 'info'}">info</option>
						</select>
						<hr/>
						<p class="bold_attribute">Tags</p>
						<p class="description">A list of all tags, applicable to this rule. Please use semicolon as delimiter!</p>
						<input type="text" class="text_input" name="rTaglist" th:value="${taglist}" /> 
						<hr/>
						<input type="hidden" name="rType" th:value="${rule.getType()}" />
						<p><input type="submit" value="Save changes" class="createButton" /> <span class="description">or</span>
						<a th:href="@{/}" class="cancelButton">cancel</a></p>
					</form>
					<br />
					
					
<!-- ADD/UPDATE/DELETE PAREMETERS FOR RULE -->
						<form th:unless="${rule.getRefID()==''}" th:action="@{/udpateParameters(project=${project.getName()})}" method="post">
							<ul class="result_table" th:each="reference : ${parameters}">
								<li class="result_item">
									
									<span></span>
									
									<span class="item_name">
										<input type="text" th:name="toUpdateName" th:value="${reference.getName()}" />
									</span> 
									<span class="item_desciption">
										<input type="text" th:name="toUpdateValue" th:value="${reference.getValue()}" />
									</span>
									<span th:if="${reference.isString()=='true'}">
										<input type="checkbox" th:name="isString" th:value="${reference.getName()}" checked="checked" /> Value is a String. Unchecked mean, value is Integer.
									</span>
									<span th:if="${reference.isString()=='false'}">
										<input type="checkbox" th:name="isString" th:value="${reference.getName()}" /> Value is a String. Unchecked mean, value is Integer.
									</span>
								</li>
							</ul>
							
							<!-- additional input box for a new parameter!!! -->
							
							<input type="hidden" name="rRefID" th:value="${rule.getRefID()}" />
							<input type="hidden" name="rType" th:value="${rule.getType()}" />
							<input type="submit" name="save" value="update Parameters" />
						</form>

					
<!-- DOWNSTREAM REFERENCES FROM THIS COMPONENT -->
					<div th:unless="${rule.getRefID()==''}">
						<p><strong>References:</strong></p>
						<p><span>Includes:</span></p>
						<p th:if="${downstram.size()==0}">Nothing referenced.</p>
						<div th:unless="${downstram.size()==0}">
							<ul class="result_table" th:each="reference : ${downstram}">
								<li class="result_item">
									
									<span th:switch="${reference.getType()}">
										<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
										<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
										<img th:case="${T(jrmds.model.ComponentType).TEMPLATE}" class="symbol_small" th:src="@{img/template.png}" alt="Template"/>
									</span>
									
									<span th:switch="${reference.getType()}" class="item_name">
										<a th:case="${T(jrmds.model.ComponentType).CONCEPT}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
										<a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
										<a th:case="${T(jrmds.model.ComponentType).TEMPLATE}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
									</span> 
									<span class="item_desciption" th:text="${reference.getDescription()}">Description</span>
									<span><a th:href="@{/editRule(project=${project.getName()},rule=${rule.getRefID()},type=${rule.getType()},delComponent=${reference.getRefID()},delType=${reference.getType()})}">DELETE</a></span>
								</li>
							</ul>
						</div>
						
						
<!-- CREATE NEW REFERENCE FORM -->
						<p><form th:action="@{/referenceRule(project=${project.getName()})}" method="post">
							<input type="hidden" name="rRefID" th:value="${rule.getRefID()}" />
							<p class="bold_attribute">A new dependency</p>
							<p class="description">Type the reference-ID, only concepts, constraints or QueryTemplates are allowed:</p>
							<input type="text" class="text_input" name="newRefID" id="addRefInput" />
							<select name="newType">
								<option>CONSTRAINT</option>
								<option>CONCEPT</option>
								<option>TEMPLATE</option>
							</select>
							<input type="hidden" name="rType" th:value="${rule.getType()}" />
							<input type="submit" value="Add Reference" class="createButton" />
						</form></p>
						<span id="result" class="error_message" style="display:none;"></span>
							
<!-- UPSTREAM REFERENCES OUTPUT -->	
						<p><span>Referenced by:</span></p>
						<p th:if="${upstream.size()==0}">Not referenced.</p>
						<ul class="result_table" th:each="reference : ${upstream}">
							<li class="result_item">
							
								<span th:switch="${reference.getType()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
								</span>
								
								<span th:switch="${reference.getType()}" class="item_name">
									<a th:case="${T(jrmds.model.ComponentType).GROUP}" th:href="@{/editGroup(project=${project.getName()},group=${reference.getRefID()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONCEPT}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
								</span> 
								<span th:unless="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption" th:text="${reference.getDescription()}">Description</span>
								<span th:if="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption">Group</span>
							</li>
						</ul>
						<br />
					
						
<!-- DELETE THIS COMPONENT FORM -->
						<p><form th:action="@{/confirmDeleteRule(project=${project.getName()})}" method="post">
							<input type="hidden" name="rRefID" th:value="${rule.getRefID()}" />
							<input type="hidden" name="rType" th:value="${rule.getType()}" />
							Click to delete (<span th:text="${orphaned.size()}"></span> Nodes would remain orphaned after that): <input type="Submit" value="Delete this"/>
						</form></p>
					</div>
				</div>

			</div>

		</div>
<script type="text/javascript" th:src="@{/js/references.js}"></script>
		<div id="footer"></div>
	
	</div>



</body>

</html>