<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}">
						<img th:src="@{/img/projects.png}" alt="Project" class="symbol_small" />
						<span th:text="${project.getName()}" class="project_title">Projectname</span>
					</a> \
					<img class="symbol_small" th:src="@{img/template.png}" alt="Group"/><span th:text="${template.getRefID()}">TEMPLATE NAME</span>
				</div>

				<div class="actual_content">
				
<!-- UPDATE/CREATE COMPONENT -->
					<form id="editTemplate" name="editTemplate" th:action="@{/saveTemplate(project=${project.getName()})}" method="post">
						<p class="bold_attribute">Reference ID:</p>
						<input type="hidden" name="tOldID" th:value="${template.getRefID()}" />
						<input type="text" class="text_input" name="tRefID" th:value="${template.getRefID()}" />
						<hr/>
						<p class="bold_attribute">Description:</p>
						<input type="hidden" name="tOldDescr" th:value="${template.getDescription()}" />
						<input type="text" class="text_input" name="tDescr" th:value="${template.getDescription()}" />
						<hr/>
						<p class="bold_attribute">Cypher:</p>
						<input type="hidden" name="tOldCyph" th:value="${template.getCypher()}" />
						<input type="text" class="text_input" name="tCyph" th:value="${template.getCypher()}" />
						<hr/>
						<hr/>
						<p class="bold_attribute">Tags</p>
						<p class="description">A list of all tags, applicable to this rule. Please use semicolon as delimiter!</p>
						<input type="text" class="text_input" name="tTaglist" th:value="${taglist}" /> 
						<hr/>
						<p><input type="submit" value="Save changes" class="createButton" /><span class="description"> or </span>
						<a th:href="@{/}" class="cancelButton">Cancel</a></p>
					</form>
					<hr/><hr/>	
					
					
<!-- ADD/UPDATE/DELETE PAREMETERS FOR TEMPLATE -->
				<div th:unless="${template.getRefID()==''}">
						<form th:action="@{/udpateParameters(project=${project.getName()})}" method="post">
							
							<div th:if="${parameters.size() == 0}">No parameters here.</div>
							<div th:unless="${parameters.size() == 0}">
							<ul class="result_table" th:each="reference : ${parameters}">
								<li class="result_item">
									
									<span class="item_name">
										<input type="text" th:name="toUpdateName" th:value="${reference.getName()}" />
									</span> 
									<span class="item_desciption">
										<input type="text" th:name="toUpdateValue" th:value="${reference.getValue()}" />
									</span>
									<span th:if="${reference.isString()=='true'}">
										<input type="checkbox" th:name="isString" th:value="${reference.getName()}" checked="checked" /> Value is a String. Unchecked mean, value is Integer.
									</span>
									<span th:if="${reference.isString()=='false'}">
										<input type="checkbox" th:name="isString" th:value="${reference.getName()}" /> Value is a String. Unchecked mean, value is Integer.
									</span>
								</li>
							</ul>
							</div>
							<!-- additional input box for a new parameter!!! -->
							
							<input type="hidden" name="rRefID" th:value="${template.getRefID()}" />
							<input type="hidden" name="rType" th:value="${template.getType()}" />
							<input type="submit" name="save" value="update Parameters" />
						</form>
						<hr/><hr/>	
						
<!-- UPSTREAM REFERENCES OUTPUT -->	
						<p><span>Referenced by:</span></p>
						<p th:if="${upstream.size()==0}">Not referenced.</p>
						<ul class="result_table" th:each="reference : ${upstream}">
							<li class="result_item">
							
								<span th:switch="${reference.getType()}">
									<img th:case="${T(jrmds.model.ComponentType).GROUP}" class="symbol_small" th:src="@{img/group.png}" alt="Group"/>
									<img th:case="${T(jrmds.model.ComponentType).CONCEPT}" class="symbol_small" th:src="@{img/concept.png}" alt="Concept"/>
									<img th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" class="symbol_small" th:src="@{img/constraint.png}" alt="Constraint"/>
								</span>
								
								<span th:switch="${reference.getType()}" class="item_name">
									<a th:case="${T(jrmds.model.ComponentType).GROUP}" th:href="@{/editGroup(project=${project.getName()},group=${reference.getRefID()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONCEPT}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
									<a th:case="${T(jrmds.model.ComponentType).CONSTRAINT}" th:href="@{/editRule(project=${project.getName()},rule=${reference.getRefID()},type=${reference.getType()})}" th:text="${reference.getRefID()}">REFERENCE-ID</a>
								</span> 
								<span th:unless="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption" th:text="${reference.getDescription()}">Description</span>
								<span th:if="${reference.getType() == T(jrmds.model.ComponentType).GROUP}" class="item_desciption">Group</span>
							</li>
						</ul>					
						<hr/><hr/>
<!-- DELETE TEMPLATE -->
						<p>
						<form id="EditTemplate" th:action="@{/confirmationDeleteTemplate(project=${project.getName()})}" th:object="${project}" method="post">
						<input type="hidden" name="tRefID" th:value="${template.getRefID()}" />
						<input type="submit" value="Delete whole Template" class="createButton" /> or 
						<a th:href="@{/}" class="cancelButton">cancel</a>
						</form></p>
					</div>
				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>



</body>

</html>