<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading">Projekteigenschaften</div>
					<div class="actual_content">
				
<!-- PROJECT NAME&DESCRIPTION -->

						<p class="bold_attribute">Project Name:</p>
						<p><span th:text="${project.getName()}">ProjectName</span></p> 
						<hr/>
						<p class="bold_attribute">Project Description:</p>
						<p><span th:text="${project.getDescription()}">ProjectDescription</span></p> 
						<hr/>
					
					
<!--  PROJECT MEMBERS -->


						<table style="width: 95%">
							<colgroup>
								<col width="200px" />
								<col width="*" />
							</colgroup>
							<tr>
								<td class="width200"><p class="bold_attribute">Mitglieder:</p></td>
								<td>
									<div class="memberwidth">
										<div class="popover">
											<div class="member">
												<div class="projectmember">
													<a href="userprofile.html">Dirk Mahler</a><input type="checkbox" />
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>			
					<hr/>
					
 <!-- UPDATE PROJECT EXTERNAL REPOSITORIES -->
 					
						<table style="width: 95%">
							<colgroup>
								<col width="200px" />
								<col width="*" />
							</colgroup>
							<tr>
								<td class="width200"><p class="bold_attribute">ExternalRepositories:</p></td>
								<td>
									<div class="memberwidth">
										<div class="popover">
											<div class="member">
												<div class="extref" th:if="${project.getExternalRepos() == null}">No External Repositories in here!</div>
												<div th:unless="${project.getExternalRepos() == null}">
													<div class="extref" th:if="${project.getExternalRepos().size() == 0}">No External Repositories in here!</div>
													<div class="extref" th:unless="${project.getExternalRepos().size() == 0}" th:each="extrepo : ${project.getExternalRepos()}">
	    												<span th:text="${extrepo}">ExtRepo</span>
    											</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<hr/>
						<p><a th:href="@{/}" class="cancelButton">cancel</a></p>
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>



</body>

</html>