<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}"> <img th:src="@{/img/projects.png}" alt="Project"
						class="symbol_small" /> <span th:text="${project.getName()}" class="project_title">Projectname</span></a></div>
					<div class="actual_content">
				
<!-- PROJECT NAME&DESCRIPTION -->
<div class="editSection">
						<p class="bold_attribute">Project Name:</p>
						<p><span th:text="${project.getName()}">ProjectName</span></p> 
						
						<p class="bold_attribute">Project Description:</p>
						<p><span th:text="${project.getDescription()}">ProjectDescription</span></p> 
						
			</div>	
					<hr/>
<!--  PROJECT MEMBERS -->
<div class="editSection">

						<table style="width: 95%">
							<colgroup>
								<col width="200px" />
								<col width="*" />
							</colgroup>
							<tr>
							<td class="width200"><p class="bold_attribute">Mitglieder:</p></td>
							<td>
								<div class="memberwidth">
									<div class="popover">
										<div class="member" th:each="user : ${users}">
											<div class="projectmember">
												<a href="userprofile.html" th:text="${user.getUsername()}">USERNAME</a>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						</table>	
		</div>		
					<hr/>
					
 <!-- UPDATE PROJECT EXTERNAL REPOSITORIES -->
 			
						<div class="editSection" th:unless="${project.getName()==''}">
						<h3>External Repositories</h3>
										<div class="member">
											<div class="error_message" th:if="${project.getExternalRepos() == null}">There appear to be no external Repositories.</div>
											<div th:unless="${project.getExternalRepos() == null}">
												<div class="error_message" th:if="${project.getExternalRepos().size() == 0}">There appear to be no external Repositories.</div>
												<div class="extref" th:unless="${project.getExternalRepos().size() == 0}" th:each="extrepo : ${project.getExternalRepos()}">
													<label  th:text="${extrepo}">ExtRepo</label>
   											</div>
											</div>
										</div>
								
					</div>
					<hr />
						<div class="editSection"><a th:href="@{/projects}" class="cancelButton">cancel</a></div>
				</div>
			</div>
		</div>

		<div id="footer"></div>
	</div>



</body>

</html>