<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/index.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>

<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>

		<div class="container" style="border:none;">

			<div id="create_new_account_index">

				<section style=" height: 100%; width:1000px; margin:0px auto;">

					<div id="index_desc" style="float: left; width: 45%; padding-left: 5%;">
						<h1>Create a new account on JRMDS</h1>
						<h2>JRMDS is a tool that allows for....(insert short description here)</h2>
						<h3>Some stock image in the background always looks pretty awesome.</h3>
					</div>


					<div class="formfields" style="float: left; width: 45%; padding-left: 5%; margin-top: 50px;">
						<form>

							<input class="text_input" placeholder="Username" /> <input class="text_input" placeholder="Password" /> <input class="text_input"
								placeholder="Repeat Password" /> <input class="text_input" placeholder="Email Adress" />
							<div>
								<input type="submit" value="Create new Account" class="createButton" /> <a th:href="@{/}"
									class="cancelButton">Sign in</a>
							</div>

						</form>
					</div>
				</section>


				<div style="clear: both;"></div>

			</div>

		</div>


		<div id="footer"></div>
	</div>

</body>

</html>