<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/index.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>

<body>

	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>

		<div class="container">

			<div id="create_new_account_index">

				<section id="index_title_container">

					<div id="index_desc">
						<h1>Create a new account on JRMDS</h1>
						<h2>JRMDS is a tool that allows for...(insert short description here.)</h2>
						<h3>A random stock image in the background always does the magic.</h3>
					</div>


					<div id="register_form">
						<form th:action="@{/}" th:object="${wannabeuser}" method="post">
							
							<div class="error_message_register" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
							
							<input type="text" class="formfield" placeholder="Username" th:field="*{username}"/>
							
							<div class="error_message_register" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
							
							<input type="password" class="formfield" placeholder="Password" th:field="*{password}"/>
							
							<div class="error_message_register" th:if="${#fields.hasGlobalErrors()}">
								<div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
							</div>
							
							<input type="password" class="formfield" placeholder="Repeat Password" th:field="*{repeatedPassword}"/>
							
							<div class="error_message_register" th:if="${#fields.hasErrors('emailAdress')}" th:errors="*{emailAdress}"></div>
							
							<input type="text" class="formfield" placeholder="Email Adress" th:field="*{emailAdress}"/>
							
							<section style="margin-top:25px;">
								<input type="submit" value="Create new Account" class="createButton" /> 
								<a th:href="@{/login}" class="signinButton">Sign in</a>
							</section>

						</form>
						
					</div>
				</section>


				<div style="clear: both;"></div>

			</div>

		</div>


		<div id="footer"></div>
	</div>

</body>

</html>