<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
				
					<div class="project_title_container">
						<img th:src="@{/img/projects.png}" alt="Projekte" class="symbol_small" />Project Index
					</div>	
					<div class="project_editor"> 
					<a th:href="@{/createNewProject}" class="optionButton"><img th:src="@{/img/add.png}" alt="Projekte" class="symbol_extra_small" />Create new...</a>
					</div>
				
				

				</div>

				<div class="actual_content">
					<p class="error_message" th:if="${projects.size()==0}">Nothing here.</p>
					
					<h2 class="bold_attribute">
						We are indexing <span class="item_count" th:text="${projects.size()}">1.477</span> projects at the moment.
					</h2>
					
					<ul class="result_table" >
						<li th:each="project : ${projects}">
						<ul class="result_item">
						
						
								<li class="item_name"> <img class="symbol_small" th:src="@{/img/projects.png}" alt="Project" />
								<a th:href="@{/projectOverview(project=${project.getName()})}" th:text="${project.getName()}">  
								Gruppe 1
								</a>
								<br/>
								<span class="project_marker">PROJECT</span>

							</li>
							<li class="item_description"><span th:text="${project.getDescription()}"></span><span class="error_message" style="border:none;" th:if="${project.getDescription()==''}">No description available.</span></li>
						
						
						</ul>
						</li>
					</ul>
					<p>
						
					</p>
				</div>



			</div>
			<div id="footer" style="marign: 0px auto; width: 1000px;">© 2014 JRMDS</div>

		</div>


	</div>



</body>

</html>