<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
</head>


<body>
	<script type="text/javascript" th:src="@{/js/projectProps.js}"></script>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">
			<div class="container">
				<div class="container_heading">
					<a th:href="@{/projectOverview(project=${project.getName()})}"> <img th:src="@{/img/projects.png}" alt="Project"
						class="symbol_small" /> <span th:text="${project.getName()}" class="project_title">Projectname</span></a></div>
					<div class="actual_content">
				
<!-- UPDATE PROJECT NAME&DESCRIPTION -->
<div class="editSection">
					<form id="EditProject" th:action="@{/saveProps(project=${project.getName()})}"  method="post">
						<p class="bold_attribute">Project Name:</p>
						<p><input type="text" class="text_input" name="name" th:value="${project.getName()}" onClick="" /></p> 
						
						<p class="bold_attribute">Project Description:</p>
						<p><input type="text" class="text_input" name="description" th:value="${project.getDescription()}" onClick="" /></p>
						
						<p><input type="submit" value="Save changes" class="createButton" /> or 
						<a th:href="@{/projects}" class="cancelButton">cancel</a></p>
					</form>
	</div>
	<hr/>

					
<!--  UPDATE PROJECT MEMBERS -->
	<div class="editSection">
			
		<h3>Members:</h3>
									
			<div th:each="user : ${users}">
				<span >
					<a href="userprofile.html" th:text="${user.getUsername()}">USERNAME</a>
					<span><a th:href="@{/projectProps(project=${project.getName()},delUser=${user.getUsername()})}">DELETE</a></span>
				</span>
			</div>
			
			<br/>						
			<span style="font-size: xx-small;">only visible as admin</span>
							
			<form id="AddUsers" th:action="@{/saveMembers(project=${project.getName()})}" method="post">
				<input type="text" name="newMember" class="text_input" /> 
				<input type="submit" value="Add new member" class="createButton"/>
			</form>		
	</div>
		<hr/>
					
 <!-- UPDATE PROJECT EXTERNAL REPOSITORIES -->

					<div class="editSection" th:unless="${project.getName()==''}">
						<h3>External Repositories</h3>
							
							<form id="EditProject" th:action="@{/deleteExternalRepos(project=${project.getName()})}" method="post">
										<div class="member">
											<div class="error_message" th:if="${project.getExternalRepos() == null}">There appear to be no external Repositories.</div>
											<div th:unless="${project.getExternalRepos() == null}">
												<div class="error_message" th:if="${project.getExternalRepos().size() == 0}">There appear to be no external Repositories.</div>
												<div class="extref" th:unless="${project.getExternalRepos().size() == 0}" th:each="extrepo : ${project.getExternalRepos()}">
						
													<input type="checkbox" th:name="isString" th:value="${extrepo}"/>
    												<a th:href="@{/addExternalRepos(project=${project.getName()},externalRepo=${extrepo},add=${false})}"><label  th:text="${extrepo}">ExtRepo</label></a>
                          
   											</div>
											</div>
										</div>
                             			<br/>
								<input type="submit" value="Delete External Repository" class="deleteButton" />
                                
							</form>
							<br/>
							<form id="EditWindow" th:action="@{/addExternalRepos(project=${project.getName()}, add=${true})}" method="post">
								<input type="text" class="text_input" name="externalRepo"/>
								<br/>
								<input type="submit" value="Add External Repository" class="createButton" />
							</form>
					</div>
					<hr />
					<div class="editSection" th:unless="${project.getName()==''}">
                    	<h3>Import XML</h3>
                    		<form id="ImportXml" enctype="multipart/form-data" th:action="@{/importXmlFile(project=${project.getName()})}" method="post">
								<input type="file" value="" th:name="file" name="importXml" />
                                <br></br>
                                <input type="submit" value="Import Xml" class="createButton"/>
					</form>
					</div>
					<hr />
			
					<div class="editSection">
						<h3>Delete <span th:text="${project.getName()}"></span></h3>
						<a th:href="@{/confirmDeleteProject(project=${project.getName()})}" class="deleteButton">Delete Project</a> 
						
					</div>
                    <hr />
			</div>
		</div>
</div>
</div>
		<div id="footer"></div>
	



</body>

</html>
