<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
					<img th:src="@{/img/projects.png}" alt="Projekte" class="symbol_small" /> All Projects
				</div>

				<div class="actual_content">
					<ul class="result_table" th:each="project : ${allProjects}">
						<li class="result_item">
							
							 <img class="symbol_small" th:src="@{img/projects.png}" alt="Groups"/>
							 <span class="item_name" >
							 <a th:href="@{projectOverview}" th:text="${project.name}">Project 1</a>
							</span> 
							<span class="item_desciption" th:text="${project.description}">
								Description
							</span>
							<span>
								User
							</span>
						</li>
					</ul>
					<div style="clear;both;"></div>
					<p><a th:href="@{/createNewProject}" class="createButton">Create new Project</a></p>
				</div>
				
				

			</div>

		</div>

		<div id="footer"></div>
	</div>



</body>

</html>