<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/js/popup.js}"></script>

</head>


<body>
	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
				<div class="project_title_container">
					<a th:href="@{projectProps(project=${project})}" class="project_name"> <img th:src="@{/img/projects.png}" alt="Projekte"
						class="symbol_small" /> <span th:text="${project.getName()}" id="project_title" class="project_title">Projectname</span>
					</a>/ Component overview 
				</div>	
					
						
					
					<div class="project_editor"> 
					<span id="copied_message" style="" class="error_message">Copied link to clipboard.</span>
										<script type="text/javascript" th:src="@{/js/jquery.zclip.js}"></script>
									
					<a href="#" id="copy_to_clipboard"  class="optionButton">Copy link</a>
					<script>
					var current_location='http://localhost:8080';
					$('#copied_message').hide();
					$('#copy_to_clipboard').zclip({
						path:'js/ZeroClipboard.swf',
						copy: current_location + '/xml/' + $('#project_title').text() + '/' +  $('.rule_title').text(),
						afterCopy:function() {
							$('#copied_message').fadeToggle(1000,function() {$('#copied_message').fadeToggle(1000);});
						}
						
						});
					</script>
					
					<a href="#" class="optionButton" id="addRule"><img th:src="@{/img/add.png}" alt="Projekte" class="symbol_extra_small" />Create new...</a> 
					<a th:href="@{projectProps(project=${project})}" class="optionButton"><img th:src="@{/img/settings.png}" alt="Projekte" class="symbol_extra_small" />Properties</a>
					
						<div class="pop" id="add_rule_menu">
							<img th:src="@{/img/arrow_up.png}" alt="#" class="arrow_up" />
							<span class="pop_content">
								<a th:href="@{/createGroup(project=${project.getName()})}" class="pop_navigation" id="group_adding_button">Group</a> <a
									th:href="@{/createRule(project=${project.getName()},type=${T(jrmds.model.ComponentType).CONCEPT})}" class="pop_navigation" id="concept_adding_button">Concept</a>
								<a th:href="@{/createRule(project=${project.getName()},type=${T(jrmds.model.ComponentType).CONSTRAINT})}" class="pop_navigation" id="constraint_adding_button">Constraint</a>
								<a th:href="@{/createTemplate(project=${project.getName()})}" class="pop_navigation" id="template_adding_button">Template</a>
							</span>
						</div>
						

					</div>
					
				</div>
				
				<div class="actual_content">
					<div style="margin-left: 20%;">
						<h2 class="bold_attribute">
							<span th:text="${project.getName()}">1.477</span> <span class="item_count"><span th:text="*{numberOfResults}"></span>
								Components in total</span>
						</h2>
						
						<p class="description" th:text="${project.getDescription()}">Desc</p>
						<span class="error_message" th:if="${project.getDescription()==''}">No description available.</span>
						
					</div>

					<div class="tabs" th:replace="fragments/componentOverview :: componentOverview"></div>



				</div>

			</div>


		</div>

		<div id="footer"></div>



	</div>

</body>



</html>
