<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/advancedSearch.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<script type="text/javascript" th:src="@{/js/projectOverview.js}"></script>

	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: searchHeader"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
					<img th:src="@{/img/search.png}" alt="Projekte" class="symbol_small" /><span class="project_title">Advanced Search - Results</span>
				</div>

				<div class="actual_content">




					<form th:action="@{/processSearchRequest(searchType=advanced)}" name="search" th:object="${searchRequest}" method="post">

						<section id="searchBar">

							<input id="search_input" class="text_input" type="text" value="Search JRMDS" name="search_input" th:field="*{searchTerm}" /> <input
								type="submit" value="Search" class="createButton" id="advancedSearch" disabled="disabled" />
							<script th:src="@{/js/searchbarFunctions.js}"></script>
							<section id="advancedSearch_checkboxes">
								<input type="checkbox" th:field="*{includeGroups}" /><label><img class="symbol_small" th:src="@{/img/group.png}"
									alt="Group" />Add Groups</label> <input type="checkbox" th:field="*{includeConcepts}" /><label><img class="symbol_small"
									th:src="@{/img/concept.png}" alt="Concept" />Add Concepts</label> <input type="checkbox" th:field="*{includeConstraints}" /><label><img
									class="symbol_small" th:src="@{/img/constraint.png}" alt="Constraint" />Add Constraints</label> <input type="checkbox"
									th:field="*{includeQueryTemplates}" /><label><img class="symbol_small" th:src="@{/img/template.png}" alt="Template" />Add
									Templates</label>

							</section>
							<script th:src="@{/js/validateAdvancedSearch.js}"></script>
						</section>




					</form>

					<hr style="margin: 20px 0 20px 0;" />
					<h2 class="bold_attribute" style="margin-left: 20%;">
						We found <span class="item_count" th:text="*{numberOfResults}">1.477</span> items that match your search request "<span
							th:text="*{searchTerm}"></span>".
					</h2>
					<div class="tabs">
						<ul class="tab-links">
							<li id="menu_group" class="active"><a href="#"> <img class="symbol_small" th:src="@{/img/group.png}" alt="Groups" />Groups
							</a><span class="item_count" th:text="*{numberOfGroups}">3</span></li>
							<li id="menu_concept"><a href="#"><img class="symbol_small" th:src="@{/img/concept.png}" alt="Concepts" />Concepts</a><span
								class="item_count" th:text="*{numberOfConcepts}">12.231</span></li>
							<li id="menu_contraint"><a href="#"><img class="symbol_small" th:src="@{/img/constraint.png}" alt="Constraints" />Constraints
							</a><span class="item_count" th:text="*{numberOfConstraints}">12</span></li>
							<li id="menu_template"><a href="#"><img class="symbol_small" th:src="@{/img/template.png}" alt="Templates" />Templates </a><span
								class="item_count" th:text="*{numberOfTemplates}">7 </span></li>
						</ul>

						<div class="tab-content">
							<div id="tab1" class="tab active">
								<ul class="result_table" th:each="group : ${resultGroups}">
									<li>
										<ul class="result_item">
											<li class="item_name"><a th:href="@{/editGroup(project=${group.value},group=${group.key.getRefID()})}"
												th:text="${group.key.getRefID()}"> <img class="symbol_small" th:src="@{/img/group.png}" alt="Groups" /> Gruppe 1<span
													class="item_count">(90)</span>
											</a></li>
											<li class="item_tags"><a th:href="@{/processSearchRequest(searchType=default, tagTerm=${tag})}" class="tag"
												th:each="tag : ${group.key.getTags()}" th:text="${tag}">java</a></li>
											<li class="item_description" th:text="${group.key.getDescription()}">Beschreibung</li>

										</ul>
									</li>

								</ul>

							</div>




							<div id="tab2" class="tab">
								<ul class="result_table" th:each="concept : ${resultConcepts}">
									<li>
										<ul class="result_item">
											<li class="item_name"><a
												th:href="@{/editRule(project=${concept.value},rule=${concept.key.getRefID()},type=${concept.key.getType()})}"
												th:text="${concept.key.getRefID()}"> <img class="symbol_small" th:src="@{/img/concept.png}" alt="Concepts" /> Concept 1<span
													class="item_count">(90)</span>
											</a></li>
											<li class="item_tags"><a th:href="@{/processSearchRequest(searchType=default, tagTerm=${tag})}" class="tag"
												th:each="tag : ${concept.key.getTags()}" th:text="${tag}"></a></li>
											<li class="item_description" th:text="${concept.key.getDescription()}">Beschreibung</li>

										</ul>
									</li>
								</ul>
							</div>

							<div id="tab3" class="tab">
								<ul class="result_table" th:each="constraint : ${resultConstraints}">
									<li>
										<ul class="result_item">
											<li class="item_name"><a
												th:href="@{/editRule(project=${constraint.value},rule=${constraint.key.getRefID()},type=${constraint.key.getType()})}"
												th:text="${constraint.key.getRefID()}"> <img class="symbol_small" th:src="@{/img/constraint.png}" alt="Constraints" />
													Constrain 1<span class="item_count">(90)</span>
											</a></li>
											<li class="item_tags"><a th:href="@{/processSearchRequest(searchType=default, tagTerm=${tag})}" class="tag"
												th:each="tag : ${constraint.key.getTags()}" th:text="${tag}">java</a></li>
											<li class="item_description" th:text="${constraint.key.getDescription()}">Beschreibung</li>

										</ul>
									</li>


								</ul>
							</div>

							<div id="tab4" class="tab">
								<ul class="result_table" th:each="queryTemplate : ${resultQueryTemplates}">
									<li>
										<ul class="result_item">
											<li class="item_name"><a
												th:href="@{/editRule(project=${queryTemplate.value},rule=${queryTemplate.key.getRefID()},type=${queryTemplate.key.getType()})}"
												th:text="${queryTemplate.key.getRefID()}"> <img class="symbol_small" th:src="@{/img/template.png}" alt="Templates" />
													Template 1<span class="item_count">(90)</span>
											</a></li>
											<li class="item_tags"><a th:href="@{/processSearchRequest(searchType=default, tagTerm=${tag})}" class="tag"
												th:each="tag : ${queryTemplate.key.getTags()}" th:text="${tag}">java</a></li>
											<li class="item_description" th:text="${queryTemplate.key.getDescription()}">Beschreibung</li>

										</ul>
									</li>

								</ul>
							</div>

						</div>
					</div>



				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>


</body>



</html>