<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/advancedSearch.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>

</head>


<body>

	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: searchHeader"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">
					<img th:src="@{/img/search.png}" alt="Projekte" class="symbol_small" /><span class="project_title">Advanced Search - Results</span>
				</div>

				<div class="actual_content">




					<form th:action="@{/processSearchRequest(searchType=advanced)}" name="search" th:object="${searchRequest}" method="post">

						<section id="searchBar">

							<input id="search_input" class="text_input" type="text" value="Search JRMDS" name="search_input" th:field="*{searchTerm}" /> <input
								type="submit" value="Search" class="createButton" id="advancedSearch" disabled="disabled" />
							  <script th:src="@{/js/searchbarAutocomplete.js}"></script>
							<section id="advancedSearch_checkboxes">
								<input type="checkbox" th:field="*{includeGroups}" /><label><img class="symbol_small" th:src="@{/img/group.png}"
									alt="Group" />Add Groups</label> <input type="checkbox" th:field="*{includeConcepts}" /><label><img class="symbol_small"
									th:src="@{/img/concept.png}" alt="Concept" />Add Concepts</label> <input type="checkbox" th:field="*{includeConstraints}" /><label><img
									class="symbol_small" th:src="@{/img/constraint.png}" alt="Constraint" />Add Constraints</label> <input type="checkbox"
									th:field="*{includeQueryTemplates}" /><label><img class="symbol_small" th:src="@{/img/template.png}" alt="Template" />Add
									Templates</label>

							</section>
							<script th:src="@{/js/validateAdvancedSearch.js}"></script>
						</section>




					</form>

					<hr style="margin: 20px 0 20px 0;" />
					<h2 class="bold_attribute" style="margin-left: 20%;">
						We found <span class="item_count" th:text="*{numberOfResults}">1.477</span> items that match your search request "<span
							th:text="*{searchTerm}"></span>".
					</h2>
					<div class="tabs" th:replace="fragments/componentOverview :: componentOverview"></div>



				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>


</body>



</html>