<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/userProfile.css}" rel="stylesheet" media="screen" type="text/css" />
<link th:href="@{/style/header.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/js/userProfile.js}"></script>

</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">Profile</div>

				<div class="actual_content">

					<div id="user_single_form" class="single_form">
						<form id="username_form" action="/editUsername" method="get" name="username_form" >
                			<div class="edit_label">
								<label>Username: </label>
							</div>
							<div class="user_properties">Username</div>
							<div id="user_edit_animation_field" class="edit_animation_field">
								<input type="text" class="textfield" placeholder="New Username" name="newUsername" />
							</div>
							<input type="submit" id="username_edit_button" class="edit_button" value="Edit" />
						</form>
					</div>
					
					<div id="password_single_form" class="password_single_form">
						<form id="password_form" action="/editPassword" method="get" name="password_form" >
                			<div class="edit_label">
								<label>Password: </label>
							</div>
							<div class="user_properties">***********</div>
							<div id="password_edit_animation_field" class="password_edit_animation_field">
								<input type="text" class="password_textfield" placeholder="Current Password" name="currentPassword" />
                                <input type="text" class="password_textfield" placeholder="New Password" name="newPassword" />
                                <input type="text" class="password_textfield" placeholder="Repeat New Password" name="repeatedNewPassword" />
							</div>
							<input type="submit" id="password_edit_button" class="edit_button" value="Edit" />
						</form>
					</div>
					
					<div id="email_adress_single_form" class="single_form">
						<form id="email_adress_form" action="/editEmailAdress" method="get" name="email_adress_form" >
                			<div class="edit_label">
								<label>Email Adress: </label>
							</div>
							<div class="user_properties">Email</div>
							<div id="email_adress_edit_animation_field" class="edit_animation_field">
								<input type="text" class="textfield" placeholder="New Email Adress" name="newEmailAdress" />
							</div>
							<input type="submit" id="email_adress_edit_button" class="edit_button" value="Edit" />
						</form>
					</div>							
				
				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>

</body>

</html>